*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 1px;
}

span{
    color: tomato;
    margin: 3px;
    font-size: 40px;
}
.nombre{
    background: rgb(20, 20, 20);
    padding: 4px;
    text-align: center;
    color: white;
}
.header{
width: 100%;
height: 10vh;
background: rgb(20, 20, 20);
}

.menu2{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
li a {
    line-height: 10vh;
    font-size: 20px;
    margin:15px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
} 
li a:hover{
    color: rgb(18, 153, 25);
    transition: 0.5s;
}
.inicio{
    background-image: url(../imagenes/teclado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.linea{
    width: 85px;
    height: 4px;
    background: chartreuse;
    margin-bottom: 20px;
}
.texto{
    padding: 90px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: white;
}
.imagen{
    padding: 40px;
    margin-right: 80px;
    transition: 0.3s;
}
.imagen .img:hover{
    padding: 10px;
    transition: 0.3s;
}
.img{
    border-bottom: 9px solid red;
    justify-content: center;
    align-items: center;
}
.informacion{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.hijo{
    width: 60%;
}
.hijo img{
    width: 100%;
    height: 100%;
}
.texto2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.texto3{
    padding: 40px;
 }
 .texto3 h1{
     font-size: 40px;
 }
 .descarga{
    margin-top:25px;
    padding: 10px;
    border-radius: 1pc;
    text-decoration: none;
    color: white;
    background-color:chartreuse;
 }
 .proyectos{
    width: 100%;
    height: 100vh;
/*    background: rgb(50, 50, 50);*/
    background-image: url(../imagenes/computador.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .titulo{
     padding: 20px;
     font-size: 30px;
 }
 .raya{
    width: 80px;
    height: 5px;
    background-color: chartreuse;
    margin-bottom: 20px;
 }
.proyectos-realizados{
    width: inherit;
    height: 300px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:30px;
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255),0.9em 0.9em 1em rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    transition: 0.5s;
}
.cards:hover{
    padding: 20px;
    transition: 0.5s;
}
.proyectos-realizados .link{
    background-color: tomato;
    color: white;
    text-decoration: none;
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.proyectos-realizados .link:hover{
    background-color: red;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
}
.footer a{
    text-decoration: none;
    color: white;
}
.fin{
    color: white;
    text-align: center;
}
.fin p{
    margin-top: 8px;
}

@media screen and (max-width:700px){
    .inicio{
        flex-direction: column-reverse;
        align-items: center;
    }
    .texto{
        padding: 20px;
        margin-top: 0px;
    }
    .imagen{
        margin-right:1px;
    }
    .img{
        width: 200px;
        height: 200px;
    }
    .informacion{
        flex-direction: column;
    }
    .hijo{
        width: 100%;
    }
    .texto2{
        width: 100%;
    }
    .proyectos{
        height: 100%;
    }
    .proyectos-realizados{
        flex-direction: column;
        width: auto;
        height: auto;
    }
}
